<html>

<head><title>NIBL Homepage</title></head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
<style>
body,h1 {font-family: "Raleway", Arial, sans-serif}
h1 {letter-spacing: 6px}
.w3-row-padding img {margin-bottom: 12px}
</style>
<body>

<!-- !PAGE CONTENT! -->
<div class="w3-content" style="max-width:1500px">


<!-- Header -->
<header class="w3-container w3-theme w3-padding" id="myHeader">
  <i onclick="w3_open()" class="fa fa-bars w3-xlarge w3-button w3-theme"></i> 
  <div class="w3-center">
  
  <h1 class="w3-xxxlarge w3-animate-bottom">Neuropsychology of Ingestive Behavior Lab</h1>
  <h4> UNC CHAPEL HILL </h4>
    <div class="w3-padding-32">
      <button class="w3-btn w3-xlarge w3-dark-grey w3-hover-light-grey" onclick="document.getElementById('id01').style.display='block'" style="font-weight:900;">LEARN W3.CSS</button>
    </div>
  </div>
</header>



<div class="w3-row-padding">
<div class="w3-half w3-center">


<form class="w3-container w3-card-4", action="#", method="post">
<h2>Here is where we get your data</h2>
<div class="w3-section">
{% csrf_token %}
  Enter a subject name:<br>
  <input type="text" name="subject"><br>
  </div>
  <div class="w3-section">

  Enter an output directory:<br>
  <input type="text" name="directory">
  </div>
  <div class="w3-section">

  <input type="submit" value="Enter">
  </div>
</form>
</div>

   
{% block content %}
{% endblock %}

</div>

</body>
</html>


