

<html>

<head><title>BIDS Containerization App</title></head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-lime.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
<style>
body,h1 {font-family: "Raleway", Arial, sans-serif}
h1 {letter-spacing: 6px}
.w3-row-padding img {margin-bottom: 12px}
</style>
<body>

<!-- !PAGE CONTENT! -->
<div class="w3-content" style="max-width:1500px">


<!-- Header -->
<header class="w3-container w3-theme w3-padding" id="myHeader">
  <div class="w3-center">
  
  <h1 class="w3-xxxlarge w3-animate-bottom">DICOM to BIDS Converter</h1>
  <h4> UNC CHAPEL HILL </h4>
  </div>
</header>



<div class="w3-row-padding">
<div class="w3-half">
<form class="w3-container w3-card-4" style="min-height:400px", action="{% url 'myapp:bids' %}", method="post">
<h2>Get data from OsiriX:</h2>
<div class="w3-section">
{% csrf_token %}
  <label for="subject_name">Enter a subject name:</label><br>
  <input id="subject_name" type="text" name="subject_name" value="{{ current_subject }}"><br>
  </div>
  <div class="w3-section">

  <label for="output_directory">Enter the output directory:</label><br>
  <input id="output_directory" type="text" name="output_directory" value="{{ current_output_dir }}">
  </div>
  <div class="w3-section">

  <input type="submit" value="Enter">
  </div>
</form>
</div>



<div class="w3-half">
<form class="w3-container w3-card-4" style="min-height:400px", action="{% url 'myapp:bids' %}", method="post">
<h2>Convert data into BIDS:</h2>
<div class="w3-section">
{% csrf_token %}
  <label for="subject_name">Enter a subject name:</label><br>
  <input id="subject_name" type="text" name="subject_name" value="{{ current_subject }}"><br>
  </div>
  <div class="w3-section">
  <label for="input_directory">Enter the input directory:</label><br>
  <input id="input_directory" type="text" name="input_directory" value="{{ current_input_dir }}">
  </div>
  <div class="w3-section">
  <label for="output_directory">Enter the output directory:</label><br>
  <input id="output_directory" type="text" name="output_directory" values="{{ current_output_dir }}">
  </div>
  <div class="w3-section">
  <input type="submit" value="Enter">
  </div>
</form>
</div>
{% block content %}
{% endblock %}

</div>

</body>
</html>
